@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.yellowShadow {
  box-shadow: 3px 3px 0 0  #A79429;
}

.yellowShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 00  #A79429;
}

#workout {
  margin-top: 5rem;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.3;
  z-index: -1;
}
